option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: persona.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: persona.wsgi:application
    "aws:elasticbeanstalk:container:python:staticfiles":
        /static/: static


commands:
    01_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"