option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: persona.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: persona.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: www/static/

packages:
  yum:
    git: ''
    mariadb-devel: ''

commands:
    03_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    04_collect_static:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"